.hidden {
  display: none;
}

.dark {
  background-color: black;
  color: white;
}

#header {
  display: flex;
  justify-content: center;
  background-color: black;
}

h1 {
  font-size: 40pt;
  margin-bottom: 0;
  color: ivory;
}

#subtitle {
  text-align: center;
  margin-top: 0;
  color: ivory;
}

#setup-game {
  display: flex;
  justify-content: center;
  justify-self: center;
}

#theme {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid blue;
  padding-left: 40px;
}

#difficulty {
  padding: 10px;
  text-align: center;
  padding-bottom: 10px;
}

#theme-button {
  margin: 10px;
  margin-right: 30px;
  justify-self: center;
}

#new-game-button {
  margin: 10px;
  justify-self: center;
}

#save-game-button {
  margin: 10px;
  margin-left: 30px;
  justify-self: center;
}

p#timer, p#lives {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#game {
  display: flex;
  justify-content: center;
}

#number-container > p {
  border: 1px solid black;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  font-size: 40pt;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;

}

#board {
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
  height: 600px;
  align-content: center;
}

.tile {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
  font-size: 40pt;
}

p.selected {
  background-color: lightblue;
}

p.incorrect {
  color: red;
}

.rightBorder {
  border-right: 4px solid black;
}

.bottomBorder {
  border-bottom: 4px solid black;
}

p.selected-state {
  background-color: lightblue;
}

.welcomeDiv {
  text-align: center;
  background-color: black;
}

.welcomeLinks {
  display: inline-block;
  width: 50px;
  padding: 12px;
  margin: 0 6px 6px;
  background-color: blue;
  color: white;
}

.savesDiv {
  background-color: white;
  margin: 0;
  color: black;
  text-align: center;
}